<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aps-environment</key><string>production</string>
  <key>com.apple.developer.associated-domains</key>
  <array>
    <string>applinks:ecode.app</string>
    <string>webcredentials:ecode.app</string>
  </array>
  <key>keychain-access-groups</key>
  <array><string>$(AppIdentifierPrefix)app.ecode.mobile</string></array>
  <key>com.apple.security.application-groups</key>
  <array><string>group.app.ecode.mobile</string></array>
</dict>
</plist>
